# Ignore Python cache and virtual envs
__pycache__/
*.py[cod]
venv/
env/

# Ignore only raw and temp data (not processed or outputs)
data/raw/
data/processed/

# Keep all models (do NOT exclude .pt or .onnx)
# model/*.pt
# model/*.onnx

# Keep outputs folder
# outputs/

# Ignore experiment runs and cache
runs/
.kaggle/
kaggle.json

# Ignore OS junk files
.DS_Store
Thumbs.db
